SHOPIFY_API_KEY=your_api_key
SHOPIFY_API_SECRET=your_api_secret
ADDITIONAL_SHOPIFY_SCOPES=
SHOPIFY_APP_URL=https://your-app-domain.trycloudflare.com
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
SHOP_CUSTOM_DOMAIN=
SHOPIFY_BILLING_TEST=false
SUPPORT_EMAIL=info.ourcares@gmail.com
SUPPORT_WHATSAPP_URL=https://wa.me/919718127346
SUPPORT_TUTORIAL_URL=
