SHOPIFY_API_KEY=your_api_key
SHOPIFY_API_SECRET=your_api_secret
SCOPES=read_products,write_app_proxy,write_draft_orders
SHOPIFY_APP_URL=https://your-app-domain.trycloudflare.com
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
SHOP_CUSTOM_DOMAIN=
SHOPIFY_BILLING_TEST=false
